body {
    background-color: rgb(50, 42, 42);
    background-image: url('./assets/pexels-marta-wave-5875844-celu.jpg');
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
}