


body {
    background-color: black;
    background-image: url('./assets/pexels-marta-wave-5875895.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
}



@media  (max-width: 820px) { 

    body {
     
        background-image: url('./assets/ruta2.jpg');
        background-repeat: no-repeat;
       
    
    }
}







